$baby_powder: #fcfcfd;
$taupe_gray: #888888;
$roman_silver: #8b8e98;
$independence: #46545f;
$outer_space: #41454a;

// Extra screen phone
$screen-phone: 580px;

// Extra screen tablets
$screen-tablet: 768px;

.section {
  background-color: $baby_powder;
  text-align: center;
}
