.education {
  li {
    margin-top: 1.87rem;
  }

  time {
    font-size: 0.75rem;
    margin-top: 0.1rem;
    color: $independence;
  }

  .school {
    font-size: 0.95rem;
    margin-top: 0.1rem;
    color: $independence;
  }

  .major {
    font-size: 0.85rem;
    margin-top: 0.1rem;
    color: $independence;
  }
}
