.i-can-do {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .icando-container {
    display: inline-block;
    padding-left: 0.83rem;
    text-align: left;
  }
  .icando-box {
    position: relative;
    border-bottom: 1px dotted $independence;
    border-left: solid $independence 0.25rem;
    padding-left: 1.67rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    .target-border {
      position: absolute;
      top: -0.25rem;
      left: -1.21rem;
      width: 1.67rem;
      height: 1.67rem;
      border: 0.25rem solid $baby_powder;
      border-radius: 50%;
      background-color: $independence;
      .target-dot {
        width: 0.25rem;
        height: 0.25rem;
        border: 0.46rem solid $baby_powder;
        border-radius: 50%;
        margin: 0.25rem;
      }
    }
    .title {
      font-size: 1rem;
      font-weight: bold;
      color: $outer_space;
      min-height: 1.67rem;
      line-height: 1.67rem;
      .big-screen {
        display: inline;
      }
      .small-screen {
        display: none;
      }
    }
    .big-screen {
      display: block;
    }
    .small-screen {
      display: none;
    }
    .tech-list {
      margin-top: 0.2rem;
      font-size: 0.6rem;
      color: $taupe_gray;
      a {
        text-decoration: underline;
      }
      a:hover {
        font-weight: bold;
        color: black;
      }
    }

    .description {
      list-style: initial;
      margin-top: 0.4rem;
      padding-left: 1rem;
      font-size: 0.6rem;
      line-height: 0.8rem;
      color: #000;
      li {
        font-size: 16px;
        margin-top: 5px;
        a {
          font-weight: bold;
          color: black;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      div {
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: $screen-phone) {
    .icando-box {
      position: relative;
      border-left: none;
      padding-left: 0;
      .target-border {
        display: none;
      }
      .title {
        &::before {
          position: absolute;
          left: -1.2rem;
          content: "-";
        }
        .big-screen {
          display: none;
        }
        .small-screen {
          display: inline;
        }
      }
      .big-screen {
        display: none;
      }
      .small-screen {
        display: block;
      }
      .description {
        li {
          font-size: 0.8rem;
          margin-top: 0.1rem;
          line-height: 1rem;
        }
        div {
          margin-top: 0.1rem;
        }
      }
    }
  }
}
